<!DOCTYPE html>
<html>
  <head>
  	<title><%= title %></title>
  	<%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <sript src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></sript>
    <![endif]-->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
   <div class="container">
    <header>
    <%= image_tag("logo.png", :alt => "First App", :class => "round") %>
      <nav class="round">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </header>
    <section class="round">
     <%= yield %>
    </section>
    <footer>
      <nav class="round">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "News", 'http://news.railstutorial.org/' %></li>
          <li><%= link_to "Rails Tutorial", 'http://railstutorial.org' %></li>
        </ul>
      </nav>
    </footer>
   </div>
  </body>
</html>